{% extends "core/base_management.html" %} {% block content %}
<main role="main" class="container">
    <div class="jumbotron">
        <h1>MÉTODO VIVENCIAL</h1>
        <p>
            A elaboração deste método é baseado na minha vivência profissional de alfabetização em classes normais
            e especiais por mais de 28 anos.
        </p>
        <p>
            Depois de ter feito vários cursos de alfabetização, ter aplicado nas minhas salas de aula vários métodos de
            ensino.
            Tendo pouco resultado por mim esperado, fui prestando atenção no que as crianças mais se interessavam, nas
            palavras
            que tinham maior facilidade e rapidez de fixação.
        </p>
        <p>
            Fui elaborando e criando um método próprio. Compilei várias atividades de alguns métodos e de exercícios
            criados por mim.
        </p>
        <p>
            Sabendo que a criança nos seus poucos anos de vida, começa a balbuciar mama (mamãe) e papa (papai). Baseado
            nisto sei que a palavra
            é o meio mais rápido e importante para a alfabetização. Este método que estou apresentando baseia - se na
            "palavração"
        </p>
        <p>
            No inicio, o método não se preocupa com o aprendizado das vogais (a-e-i-o-u). A meu ver, a alfabetização iniciada pelas vogais torna-se abstrato para as crianças.
        </p>
        <p>
            O método vivencial inicia apresentando 5 ou mais palavras básicas: casa-lata-dado-bala-faca. Depois de uma sequência de exercícios para fixação
            continua se formando de 2 (duas) em 2 (duas) palavras novas a cada dia, conforme o rendimento dos alunos.
        </p>

    </div>
</main>
{% endblock content %}